# 系统文件
.DS_Store

# 依赖目录
node_modules/
auto-imports.d.ts
components.d.ts

# 构建产物
dist
dist-ssr
build
*.local

# 日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器
.c9/
.settings/
.project
.classpath/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.trae/documents/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.launch
*.sublime-workspace

# 单元测试
coverage
.nyc_output

# 环境变量
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# 临时文件
.temp
.tmp

# 运行时
pids
*.pid
*.seed
*.pid.lock

# 诊断报告 (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
